* {
	transition: all 0.25s 0s;
}

.btn-block {
	margin-top: 0 !important;
}

.sidebar {
	border-right: 2px solid #fff;
}

.form-control-container {
	margin-bottom: 1rem;
}

.form-control {
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.75rem;
	height: auto;

	font-size: 0.8125rem;
	color: #555;

	background-color: transparent;

	&:focus {
		border-color: $color-brass;
		box-shadow: none;

		background-color: transparent;
	}
}

.modal-dialog {
	max-width: 100%;
}

.modal-content {
	//   padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
}

.link-container {
	.link {
		color: #555;
		&:hover {
			color: #222;
		}
	}
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba($color: #7368d2, $alpha: 0.3);
}

.border-right-1 {
	border-right: 0;

	@media (min-width: 992px) {
		border-right: 1px solid #dee2e6;
	}
}

.create-time {
	position: absolute;
	bottom: 8px;
	right: 24px;

	color: #fff;

	z-index: 10;
}

.svg {
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
}border-right-1 {
	border-right: 0;

	@media (min-width: 992px) {
		border-right: 1px solid #dee2e6;
	}
}

