// color dark periwinkle
$color-dark-periwinkle: #5a69ce;

// color brass
$color-brass: #afb543;

// color light plum
$color-light-plum: #9d5195;

// color rudy brown
$color-ruddy-brown: #ae652e;

$color-gray-d: #ddd;
$color-gray-e: #eee;
