.image-container {
	height: 165px;
}

.bg-image {
	background-image: url(../../../../assets/images/regester-owner-image.jpg);
}

.border-radius-top {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

// #4250b3

// #276cec
