@import '../../../../variables';

.nav.nav-tabs {
	border-bottom-width: 2px;
	border-bottom-color: $color-gray-e;

	.nav-item {
		.nav-link {
			border: none;
			border-bottom: 2px solid transparent;

			color: #555;

			&:hover {
				border-color: $color-light-plum;
			}
			&.active {
				border-bottom-color: $color-light-plum;
				color: #222;

				background-color: transparent;
			}
		}
	}
}

.min-height-650 {
	min-height: 650px;
}

.profile-picture {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, -50%);
}
