<div class="center container">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div
				class="box-shadow rounded bg-light animate__animated animate__fadeIn"
			>
				<div class="row mx-0">
					<div class="col-lg-5 mobile-height px-0">
						<div
							class="image-container position-relative border-radius-left h-100"
						>
							<div class="bg-image border-radius-left h-100"></div>
							<div class="image-overlay border-radius-left"></div>
						</div>
					</div>
					<div class="col-lg-7 p-4">
						<div class="px-3 py-2">
							<form (ngSubmit)="loginIdentifierPassword(form)" #form="ngForm">
								<h4 class="mb-4 text-black">Please Sign In</h4>
								<div class="form-control-container">
									<label for="identifier">Email address</label>
									<input
										type="email"
										id="identifier"
										name="identifier"
										class="form-control"
										required
										autofocus
										ngModel
									/>
								</div>

								<div class="form-control-container mb-4">
									<label for="password">Password</label>
									<input
										type="password"
										id="password"
										name="password"
										class="form-control"
										required
										ngModel
									/>
								</div>

								<button
									class="button button-lg btn-block button-blue mb-4"
									type="submit"
									[disabled]="form.invalid"
								>
									Sign In
								</button>

								<!-- <button
							class="button button-lg btn-block button-brown mb-5"
							type="button"
							(click)="loginWithMetamask()"
						>
							
							Login With Metamask
						</button> -->

								<div
									class="d-block d-xl-flex justify-content-xl-between text-center"
								>
									<div
										class="d-flex justify-content-center align-items-center mb-4 mb-xl-0"
									>
										<input type="checkbox" value="remember-me" />
										<span class="d-inline-block pl-2 fs-13 text-gray">
											Remember me
										</span>
									</div>
									<a
										type="button"
										class="fs-13 text-gray"
										routerLink="/register-owner"
										>New Owner? Sign Up to OmniFans</a
									>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
