<div *ngIf="token$ | async as token; else loading" class="modal-container">
	<div class="modal-header">
		<h4 class="modal-title">{{ token.name }}</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="activeModal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>
			<span *ngFor="let img of profilePhotoImages; let i = index">
				<img height="100" [src]="img.src" />
			</span>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h6>Name</h6>
				<p>
					{{ token.name }}
				</p>
				<h6>Symbol</h6>
				<p>
					{{ token.symbol }}
				</p>
				<h6>Issue Price</h6>
				<p>
					{{ token.issue_price }}
				</p>
				<h6>Total</h6>
				<p>
					{{ token.total }}
				</p>
				<h6>Description</h6>
				<p>
					{{ token.description }}
				</p>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="modal-header">
		<h4 class="modal-title">Loading Token...</h4>
	</div>
	<div class="modal-body">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</ng-template>
